<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   
          <link rel="stylesheet" th:href="@{/css/categoryadd.css}">
    <title>categoryadd</title>
</head>
<body>

               
<div class="container">
  
            <div class="signupFrm">

            <form th:action="@{/admin/service/scategory/scategoryadd}" method="post" th:object="${scategories}">
                <input type="hidden" name="id"  th:field="*{id}">
                
                <div class="inputContainer">

                    <input type="text" th:field="*{name}"  class="input" placeholder="name" required>
                    <label for="" class="label">Categories Name</label>
                  
                </div>
                
            </div>
                
            <button type="submit" class="btn"><span style="color: #ffff;">Submit</span></button>
            <a style="margin-left: 10%; color: white;" class="btn" th:href="@{/admin/service/scategory}" href="#">Back</a> 
        </form>
    
    </div>
</body>
</html>