<!DOCTYPE html>
<html lang="en"  xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Productreceive.css}">
    <title>Service Receive</title>
</head>
<body>
  <div class="text"><h6  style="color:rgb(1, 1, 47); font-size: 190%;">RECEIVE SERVICE ORDER</h6></div>
  <div class="ad">
  <a style="color: white; text-decoration: none" class="btn btn-primary" th:href="@{/receiveorder}" href="#">Back</a></div>
  <table class="wp-table" >
    <tr>
        <th  scope="col">S.No</th>
       
      <th  scope="col">Customer Name</th>
      <th  scope="col">Email</th>
      <th  scope="col">Address</th>
      <th  scope="col">Startdate</th>
      <th  scope="col"> Enddate</th>
      <th  scope="col">Phone.No</th>
      <th  scope="col">City</th>
      <th  scope="col">State</th>
      <th  scope="col">Zip</th>
      <th  scope="col">Category</th>
      <th  scope="col">Model Name</th>
      <th  scope="col">description</th>
      <th>Process</th>
     
    
    </tr>
 
    <tr th:each="order, iStat : ${sorders}">
        <th scope="row" th:text="${iStat.index + 1}">1</th>
      
         <td th:text="${order.sname}">Larry</td>
        <td th:text="${order.email}">Larry</td>
       <td th:text="${order.address}">Larry</td>
         <td th:text="${order.Startdate}">Larry</td>
        <td th:text="${order. Enddate}">Larry</td>
        <td th:text="${order.Phone}">Larry</td>
        <td th:text="${order.city}">Larry</td>
        <td th:text="${order.state}">Larry</td>
        <td th:text="${order.zip}">Larry</td>
        <td th:text="${order.scategory.name}">Larry</td>
        <td th:text="${order.modelname}">Larry</td>
        <td th:text="${order.description}">Larry</td>
      
        <td><a th:href="@{/ServiceReceiveOrder/delete/{id}(id=${order.ids})}" style="color: rgb(253, 253, 253); text-decoration: none" class="btn">Complete</a></td>
      
    </tr>
    
   
   
    
  </table>


</body>
</html>