<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Service</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/Style.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
 
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
      <link rel="stylesoeet" th:href="@{/css/owl.theme.default.min.css}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" th:href="@{/css/shopt.css}">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <ul>
                           <li><a th:href="@{/home}">Home</a></li>
                           <li><a th:href="@{/shop}">Shop</a></li>
                           <li><a href="#">Contact</a></li>
                           <li><a th:href="@{/}">Logout</a></li>
                           
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="index.html"></a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                
                
                  <div class="main"> 
                    
                     <div class="login_menu">
                        <ul>
                           <li><a th:href="@{/myorders}">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">My Service</span></a>
                           </li>
                          
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital" style="color: rgb(255, 255, 255);">Get  Start </h1><h3 style="color: rgb(37, 36, 36);"><br>We are the largest full-service appliance repair company in the world. We service all types and brands of home appliances.</h3>
                              <div class="buynow_bt"><a href="#">Know More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
               </div>
               </div>
            </div>
         </div>
      </div>
      
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- banner bg main end -->
     
      <!-- electronic section start -->
      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital"></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <h5 class="banner_taital" style="color:rgb(1, 1, 47);">OUR SERVICE</h5>
                           <div class="box_main" th:each="service : ${displayservice}">
                              
                              <div class="electronic_img"> 
                                 <h2 class="card-title" th:text="${service.productname}" style="color: rgb(19, 4, 91); margin-bottom: 20%;"></h2>
                                 <a  th:href="@{/serviceorder}">
                                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.2)"></div>
                                  <img style="margin-bottom: 20%;" class="imgs" height="100px" width="200px" th:src="@{${'/productImages/' + service.imagename}}" th:alt="${service.productname}"></a>
                            
                             
                              <h5> <p class="price_text" style="color: rgb(0, 0, 0);"> <span th:text="${ service.description}" style="color: rgb(0, 0, 0)
                               ;"></span></h5>
                                                         
                         </div>
                      </div>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
   </body>
</html>